<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/javascripts/js.js'></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <div class="error-msg">
    	<h4>Sorry, but our prices only account for items weighing 13 oz. or less. Heavier items will need to be shipped through USPS Ground. Please visit <a href='https://pe.usps.com/text/dmm300/Notice123.htm'>usps.com</a> for more information."</h4>
    </div>  
    <button onclick="doOvers()">Try again?</button>
  </body>
  <script>
  	
  </script>
</html>
